.lightbox {
  background: white;
  width: 450px;
  height: 375px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}

.container {
  /*vertical-align: middle;*/
  padding: 2vh 0;
}

.flex {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.img1,
.img2,
.img3 {
  flex-flow: row;
  justify-content: space-around;
}

#heading {
  text-transform: uppercase;
  color: #4b0532;
  font-weight: lighter;
}

#rewards {
  margin-top: -2vh;
  text-transform: uppercase;
  font-size: 14px;
}

.merchant-name {
  font-weight: bolder;
  font-size: 14px;
}

.merchant-reward {
  margin-top: -1vh;
  font-size: 12px;
}

.button {
  background: #4b0532;
  color: white;
  border-width: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 10px 30px 10px;
  font-size: 14px;
}

#rate {
  font-weight: bolder;
  font-size: 14px;
  color: #7e7e7e;
}
